<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
	<mat-card class="login-box">
		<mat-card-header>
			<mat-card-title>Log into account</mat-card-title>
		</mat-card-header>

		<form class="login-form" [formGroup]="formGroup" (ngSubmit)="doLogin($event)">
			<mat-card-content>
				<div class="login-layout" fxLayout="column" fxFlex="100" fxLayoutAlign="space-around center">
					<mat-form-field class="login-field">
						<input matInput placeholder="Username" formControlName="username" required />
						<mat-error *ngIf="!username.valid && username.touched">
							{{ field_required_message }}
						</mat-error>
					</mat-form-field>
					<mat-form-field class="login-field">
						<input matInput placeholder="Password" type="password" formControlName="password" required />
						<mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
						<mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
							{{ getErrorPassword() }}
						</mat-error>
					</mat-form-field>
				</div>
			</mat-card-content>
			<button mat-stroked-button color="accent" class="login-btn__submit" [disabled]="should_disable_login">
				Login
			</button>
		</form>
	</mat-card>
</div>
