<mat-toolbar color="primary" class="app-header">
	<div>
		<a routerLink="/" class="logo">Z</a>
	</div>
	<div class="nav-tool-items">
		<a class="nav-link" mat-button routerLink="/home" routerLinkActive="nav-link--active">Home</a>
		<a class="nav-link" mat-button routerLink="/settings" routerLinkActive="nav-link--active">Settings</a>
	</div>
	<a class="nav-link" mat-button routerLink="/login" mat-raised-button *ngIf="!authGuardService.isLoggedIn()">Login</a>
	<button class="nav-link" mat-button mat-raised-button *ngIf="authGuardService.isLoggedIn()" (click)="doLogOut()">
		Logout
	</button>
</mat-toolbar>
<div class="container" [@triggerName]="prepareRoute(outlet)">
	<router-outlet #outlet="outlet"></router-outlet>
</div>
