.container {
	padding-top: 3rem;
	display: flex;
	align-content: flex-start;
	justify-content: center;
	flex-wrap: wrap;
}

.logo {
	font-weight: bolder;
	color: #f4f4f4;
	text-decoration: none;
	margin-right: 2rem;
}

.app-header {
	background-color: #000;
	height: 3rem;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 2;

	.nav {
		&-tool-items {
			margin-right: auto;
		}
		&-link {
			text-decoration: none;
			color: #f4f4f4;
			padding: 0 1.6rem;
			font-weight: lighter;

			&--active {
				font-weight: bold;
			}
		}
	}
}
