.container {
	display: flex;
	align-content: flex-start;
	justify-content: center;
	flex-wrap: wrap;
}

.logo {
	font-weight: bolder;
	color: white;
	text-decoration: none;
	margin-right: 2rem;
}

.app-header {
	background-color: #000;
	height: 3rem;
	display: flex;
	align-items: center;

	.nav-link {
		text-decoration: none;
		color: #f4f4f4;
		padding: 0 1.6rem;
		font-weight: lighter;

		&--active {
			font-weight: bold;
		}
	}
}
