name: run_unit_tests

on:
  pull_request:
  push:
    branches: master
    paths:
      - src/**

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run unit tests
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: npm install
      - run: npm run test:ci
        env:
          CI: true
      - name: Comment Test Coverage
        uses: AthleticNet/comment-test-coverage@1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          path: coverage/tests/coverage-summary.json
          title: Jest Test Coverage
